In [6]:
# print range 0 to 20 
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
# print range 10 to 20 
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [11]:
# Print number of items in the list by using 'len'
print("Number of item in the List: ")
print(len([10, 20, 14, 55, 43, 87, 76]))

Number of item in the List:
7

In [17]:
#print each letter of a string in python
for char in "Artificial Intelligence":
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
#-Your Name- -Your Age- -Your Profession-

In [3]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/ 
# Print this mixered datatype using Tuples
list=(1, 'Welcome', 2, 'Hope')
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list)

1
Welcome
2
Hope
(1, 'Welcome', 2, 'Hope')

In [2]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/ 
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple1)
print(Tuple3)

(0, 1, 2, 3)
((0, 1, 2, 3), ('python', 'HOPE'))

In [21]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/ 
# Print this mixered datatype using Tuples
myList = [20,10,16,19,25,1,276,188]
for num in myList:
    if(num%2 !=0):
        print(str(num)+"  is odd")

19  is odd
25  is odd
1  is odd

In [22]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/ 
# Print this mixered datatype using Tuples
myList = [20,10,16,19,25,1,276,188]
for num in myList:
    if(num%2 ==0):
        print(str(num)+"  is Even")

20  is Even
10  is Even
16  is Even
276  is Even
188  is Even